#this file is just for reference now

[Unit]
Description=NTPD ROS Service
After=network.target ros.service

[Service]
Type=simple
User=root
WorkingDirectory=/home/administrator/ntpd_ws/src/ntpd_driver/launch
ExecStart=/bin/bash ./ntpd.sh
Restart=on-failure
Environment=ROS_MASTER_URI=http://localhost:11311
Environment=ROS_IP=127.0.0.1
KillMode=control-group
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
